<div class="container mt-5">
  <div class="form-area">
    <h1 class="text-center text-2xl font-semibold  mb-3">Template Form</h1>

    <form action="" class="mb-5"  #f='ngForm' (ngSubmit)="onSubmit(f)">

      <div class="form-group mb-3 ">
        <label >First Name</label>
        <input type="text"
               placeholder="fullName"
               class="form-control "
               name="fullName"
               ngModel
               #fullName='ngModel'
               (change)="getValue(fullName)"
               required
               [ngClass]="{'is-invalid':fullName.touched && fullName.invalid}"
               minlength="5"
               maxlength="10">

        <div >
          <div class="alert alert-danger" *ngIf="fullName.touched && fullName.invalid"> Full Name is Required</div>
        </div>

      </div>


      <div class="form-group mb-3 ">
        <label >Email</label>
        <input type="email"
               placeholder="Email"
               class="form-control "
               name="email"
               ngModel
               #email='ngModel'
               pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
               required
               [ngClass]="{'is-invalid':email.touched && email.invalid}"

          >

     <!--   <div *ngIf="email.errors?.required">
          <div class="alert alert-danger" *ngIf="email.touched && email.invalid">  email address Required </div>
        </div>-->
        <div *ngIf="email.errors">
          <div class="alert alert-danger" *ngIf="email.touched && email.invalid">  email address Invalid pattern </div>
        </div>

      </div>




      <div class="form-group mb-3">
        <label >Address</label>
        <textarea placeholder="address"
                  cols="30"  rows="10"
                  class="border-2 border-solid form-control"
                  name="address"
                  ngModel
                  #address='ngModel'
                  required
                  [ngClass]="{'is-invalid':address.touched && address.invalid}"

        ></textarea>
        <div *ngIf="address.errors">
          <div class="alert alert-danger" *ngIf="address.touched && address.invalid"> Invalid  address </div>
        </div>

      </div>

      <button type="submit"  [disabled]="f.invalid"  class=" px-5 py-2 rounded w-full bg-blue-600 hover:bg-blue-600 text-white">Submit</button>
    </form>

  </div>


</div>
